* {
    box-sizing: border-box;
}
body {
    background-color: hsl(0, 0%, 100%);
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
}

header,h1,h2 {
    font-size: 1em;
}
h1,h2{
    display: inline;
}
.mkr {
    margin-left: 25em;
}
article {
    width: 50vw;
}
section {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5em;
   
}
#Mark,#angela,#Jacob {
    padding: 1em;
    background-color: hsl(205, 33%, 90%);
    border-radius: 1em;
}
strong {
    color: hsl(224, 21%, 14%);
    font-weight: bold;
}
.time {
    display: block;
    font-weight: 500;
    color: hsl(219, 14%, 63%);
    margin-left: 1em;
    
    
}
#tour {
    color: hsl(217, 6%, 44%);
    font-weight: 800;
}
#Chess {
    font-weight: 900;
    color: hsl(219, 85%, 26%);
}

img {
    display: inline;
}
#chs {
    margin-left: 20vw;
}
p {
    font-size: 16px;
    color: hsl(219, 12%, 42%);
    font-weight: 300;
    margin: 1em;
    /* vertical-align: top; */

}
#dot {
    display: inline-block;
    padding: 1px;
    border-radius: 50%;
    background-color: hsl(1, 90%, 64%);
    width: 5px;
    height: 5px;

}
#msg {
    border: 1px solid hsl(211, 68%, 94%);
    width: 60%;
    margin: 0 0 0 6em;
    padding: 1.5em;
    border-radius: 0.5em;
    font-weight: 300;
}
#msg:hover {
    cursor: pointer;
    background-color: hsl(205, 33%, 90%);
}
strong:hover, #tour:hover, .mkr:hover, #Chess:hover , #chs:hover {
    cursor: pointer;
    color: hsl(219, 85%, 26%);
}










@media screen and ( max-width: 425px) {
    * {
        box-sizing: border-box;
    }
    body {
        min-width: 100vw;
        min-height: 100vh;
    }
    header {
        margin-bottom: 1em;
    }
    .mkr {
        margin-left: 10em;
    }
    article {
        width: 100vw;
    }
    section {
        padding: 0;
        margin-bottom: 0.5em;
        display: flex;
    }
    footer {
        display: none;
    }
}

@media screen and ( max-width: 768px) {
    * {
        box-sizing: border-box;
    }
    body {
        min-width: 100vw;
        min-height: 100vh;
    }
    header {
        margin-bottom: 1em;
    }
    
    article {
        width: 100vw;
    }
    section {
        padding: 0;
        margin-bottom: 0.5em;
        display: flex;
    }
    footer {
        display: none;
    }
}